<h2>{{news.length}} News Articles</h2>
{{#each news as |new index|}}
<h3>
  {{!-- <a href="/news/{{news.id}}">{{new.title}}</a>
  {{new.description}} --}}

  <a href="/news/{{new.url}}">{{new.title}},
  {{new.description}}{{new.date}}</a>
</h3>
{{/each}}

<h2>Post New Article</h2>
<form action="/news" method="post">
  <input type="text" name="new[url]" placeholder="Link">
  <input type="text" name="new[title]" placeholder="title">
  <input type="text" name="new[description]" placeholder="description">
  <input type="submit" value="Post">
</form>
