{{#if new}}
<h2>{{new.title}}</br>{{new.url}}</br>{{new.description}}</br>{{new.date}}</h2>
{{else}}
<h2>That article couldn't be found!</h2>
{{/if}}

<h2>Update Information</h2>
<form action="/news/{{new.title}}?_method=put" method="post">
  <input type="text" name="new[title]" value="{{new.title}}">
  <input type="text" name="new[url]" value="{{new.url}}">
  <input type="text" name="new[description]" value="{{new.description}}">
  <input type="text" name="new[date]" value="{{new.date}}">
  <input type="submit" value="Update">
</form>

<h2>Delete Article</h2>
<form action="/news/{{new.title}}?_method=delete" method="post">
    <input type="submit" value="Remove">
</form>
